* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #331f12, #5c3a1a);
  height: 100vh;
}

.page {
  position: relative;
  height: 100vh;
}

.overlay {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: linear-gradient(135deg, rgba(23, 15, 6, 0.8), rgba(43, 26, 9, 0.8));
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  color: #f3e5c0;
  max-width: 1500px;
  width: 90%;
  height:80vh;
  z-index: 2;
  border: 2px solid rgba(255, 247, 221, 0.3);
  box-shadow: white 0px 0px 10px 1px;
}

.logo {
  align-items: center;

}

.logo img {
  width: 50%;
  height: 400px;
  border-radius: 50%;
}

h1 {

  font-family: 'Playfair Display', serif;
  color: #d4af37;
  font-size: 3rem;
  margin-bottom: 15px;
}

.desc {
  font-size:40px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  margin-bottom: 50px;
}

.email-box {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
   font-size: 30px;
}

.email-box input {
  padding: 10px;
  width: 60%;
  height: 60px;
  border: none;
  border-radius: 5px;
  font-size: 30px;
}

.email-box button {
  padding: 10px 18px;
  background: #d4af37;
  border: none;
  cursor: pointer;
  border-radius: 5px;
   font-size: 28px;
}

.launch-title {
  color: #eebb13;
  font-size:40px;
  margin-bottom: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.countdown {
  display: flex;
  gap:40px;
  justify-content: center;
  margin-top: 20px;
  
}

.countdown div {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 8px;
}

.countdown span {
  font-size: 40px;
  display: block;

}


/* Side Images */
.side-image {
  position: absolute;
  width:700px;
  height: 80%;
top:15%;
bottom: 20px;


}

.left-img {
  left: 40px;
}

.right-img {
  right: 40px;
}

/* Mobile */
@media (max-width: 900px) {
  .side-image {
    display: none;
  }

  .email-box {
    flex-direction: column;
  }

  .email-box input, .email-box button {
    width: 100%;
  }

  .countdown {
    flex-direction: column;
    gap: 10px;
  }
}


.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content {
  flex: 1;
}

.social {
  margin-top: 20px;
  text-align: center;
  padding-top: 15px;
  border-top: 1px solid rgba(212, 175, 55, 0.3);
  font-size: 30px;
  gap: 20px;
}

